.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid white 1px;
    width: 600px;
    height: 600px;
    position: relative;
}

h3 {
    font-size: 1em;
    color: white;
    font-family: "spaceInvaders";
    margin-bottom: 10px;
}

.grid div {
    width: 40px;
    height: 40px;
}

.shooter {
    background-image: url(../images/pngkey.com-space-invader-png-1925981.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5px;
    box-sizing: content-box;
    overflow: hidden;
}

.invader {
    background-image: url(../images/invaders-gif.gif);
    background-size: contain;
    width: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.boom {
    background-image: url(../images/explosion.gif);
    background-size: contain;
}

.gameOver {
    font-family: "spaceInvaders";
    color: white;
    top: 300px;
}

.laser {
    background-image: url(../images/SpaceInvadersLaserDepiction-removebg-preview.png);
    background-size: contain;
}

.winner {
    font-family: "spaceInvaders";
    color: white;
    top: 300px;
}

.lost {
    background-image: url(../images/pixel11.png);
}

.win {
    background-image: url(../images/pixel12.png);
}

.win,
.lost {
    z-index: -1;
    transition-delay: 1.2s;
    background-size: 600px;
    animation: animate 1.2s steps(8) forwards;
}

.retryBtn {
    font-family: "spaceInvaders";
    color: white;
    text-decoration: none;
    animation-duration: 1s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
    cursor: pointer;
}

.container2 {
    display: flex;
    text-align: center;
    position: absolute;
    flex-direction: column;
    margin-top: 17rem;
}

#score {
    margin-bottom: 1.5rem;
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -1800px;
    }
}